{% extends 'layout.twig' %}

{% block body %}
  <div class="cadPac">
    <h2>Cadastrar Paciênte</h2>
    <form class="cadpacientes" action="cadastrodepacientes.html" method="post">
      <label for="">Nome do Paciênte</label>
      <br>
      <input type="text" name="nome" value="" placeholder="Nome Completo">
      <br>
      <label for="">Data de Nascimento</label>
      <br>
      <input type="date" name="datadenascimento" value="">
      <br>
      <label for="">CPF</label>
      <br>
      <input type="text" name="cpf" value="" placeholder="CPF">
      <br>
      <label for="">Tipo Sanguineo</label>
      <br>
      <input type="text" name="tiposangue" value="" placeholder="Tipo Sanguineo">
      <br>
      <label for="">Telefone</label>
      <br>
      <input type= "Tel" name="telefone" value="" placeholder="Numero de Telefone">
      <br>
      <label for="">Descrições do Paciênte</label>
      <br>
      <textarea name="descricao" rows="8" cols="80"></textarea>
      <br>
      <button type="submit" name="enviar">Cadastrar</button>

    </form>
  </div>
{% endblock %}
