{% extends 'layout.twig' %}

{% block body %}
  <div class="cadPac">
    <h2>Consultas</h2>
    <form class="cadpacientes" action="cadastrodepacientes.html" method="post">
      <label for="">Nome do Paciênte</label>
      <br>
      <select class="nomedopaciente" name="">
        <option value="v0" selected> -- Selecione --</option>
        <option value="v1">Francisco</option>
        <option value="v2">Maik</option>
        <option value="v3">Fonseca</option>
        <option value="v4">Nunes</option>
      </select>
      <br>
      <label for="">Médico</label>
      <br>
      <select class="nomedomedico" name="">
        <option value="v0" selected> -- Selecione --</option>
        <option value="v1">Dr. Francisco</option>
        <option value="v2">Dr. Maik</option>
        <option value="v3">Dr. Fonseca</option>
        <option value="v4">Dr. Nunes</option>
      </select>
      <br>
      <label for="">Data</label>
      <br>
      <input type="date" name="" value="">
      <br>
      <label for="">Hora</label>
      <br>
      <input type="time" name="" value="">
      <br>
      <br>
      <button type="submit" name="enviar">Cadastrar</button>

    </form>
  </div>
{% endblock %}
