{% extends 'layout.twig' %}

{% block body %}
  <div class="home">
    <h2>Home</h2>
    <div class="selecaodate">
      <label for="">Selecione o dia</label>
      <br>
      <br>
      <input type="date" name="" value="">
    </div>
    <div class="mostarconsultas">
      <label for="">Consultas do Dia</label>
    </div>
  </div>
{% endblock %}
